@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background: url('/img/fondo.png') no-repeat center center fixed;
  background-size: cover;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  position: relative;
}

/* Overlay oscuro */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55); /* ajustá el 0.55 para más/menos oscuridad */
  pointer-events: none;
  z-index: -1; /* Queda detrás del contenido */
}
